/*----------------------------------------------------------------*/
/*---------------------------- GENERAL ---------------------------*/
/*----------------------------------------------------------------*/

html {
    color: rgb(255, 255, 255);
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
}

p{
    font-family: "Segoe UI Variable Text", "Seoge UI Variable Static Text";
}
.content {
    margin-left: 5%;
    margin-right: 5%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #252525;
}
::-webkit-scrollbar-thumb {
    background: #444;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-moz-selection {
    /* Code for Firefox */
    background: rgb(7, 187, 0);
}
::selection {
    background: rgb(7, 187, 0);
}



.borderyes,.borderyes td,.borderyes tr{
    border: 1px solid rgb(114, 114, 114);
}
.borderyes{
    
    border-radius: 10px;
}
body {
    background-color: #212121;
    color: white;
    margin: 0;
}

h1 {
    font-size: 380%;
    text-align: center;
}
h2 {
    font-size: 250%;
    text-align: center;
    margin-top: 0;
}
h3 {
    font-size: 180%;
}
h4 {
    font-size: 120%;
    margin-bottom: 10px;
    margin-top: 20px;
}

a {
    color: #00ef14;
    text-decoration: unset;
}
.center{
    text-align: center;
}
.centerpic{
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a:hover,
a:active {
    border-bottom: 2px solid #00ef14;
    transition: border-bottom 0.2s;
}
.consynth{
    width: 80%;
    border-radius: 8px;
}

.intropic{
    margin-top: 5%;
    width: 90%;

    max-width: 500px;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome and Opera */
}
td.pr50{
    text-align: center;
}

button {
    border-radius: 20px;
}
table{
    width: 100%;
}
.pr50{
    width: 50%;
}
.btn {
    border: 1px solid hsla(0, 0%, 0%, 10%);
    border-radius: 4.5px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    transition: .3s;
    cursor: pointer;
    color: black;
    
    background-color: hsl(102deg 99% 69%);
}

.btn:hover,
.btn:active {
    background-color: #00ef14;
    border: 1px solid #00ef14;
    color: #1b1b1b;
    transition: 100ms ease-in-out;
}

.hidden {
    display: none;
}
.sommaire{
    text-align: justify;
}
.prezpic{
    width: 100%
}
.overlayinto{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 50;
    
}

.pictures{
    
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 500px;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome and Opera */
}



#dark_mode{
    margin: 0;
    padding: 0;
}
.darkmode{
    z-index: 1000000;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome and Opera */
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff8f8;
    padding: 3px;
    border: 2px solid rgb(189, 189, 189);
}
.darkmode:hover{
    background-color: white;
    border: 2px solid rgb(221, 221, 221);
}

.section{
    padding-top: 85px;
    background-size: cover;
    background-position: center;
    /*height: 100vh;*/
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    max-width: 1000px;
    -webkit-backdrop-filter: blur(40px);
    -moz-backdrop-filter: blur(40px);
    -ms-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(240, 255, 241, 0.055);
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10px;
    
    border: 1px solid hsla(0, 0%, 0%, 10%);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
  
.close-modal{
    position: absolute;
    top: 1rem;
    right: 3%;
    font-size: 300%;
    color: rgb(88, 88, 88);
    cursor: pointer;
    border: none;
    background: none;
}

.close-modal:hover,
.close-modal:active{
    color: #00ef14;
}

.modal h3{
    margin-top: 0;
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.txtintro {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    color: #00ef14;
    z-index: 2;
}

.intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}
.intro h1{
    margin-bottom: 10px;
}





.navbar {
    text-align: right;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #3b3b3b4d;
    -webkit-backdrop-filter: blur(60px);
    -moz-backdrop-filter: blur(60px);
    -ms-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
    z-index: 9999;
    border-bottom: 1px solid #00000033;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.logo {
    position: absolute;
    left: 5%;
    margin-top: -2px;
    height: 45px;
    width: auto;
    float: left;
}

.navbar a {
    display: block;
    list-style: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.navbar li a:link,
.navbar li a:visited {
    color: #cccccc;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: border-bottom 0.2s;
    padding-bottom: 5px;
}

.navbar li {
    display: inline-block;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-right: 40px;
}

.navbar li:last-child {
    padding-right: 5%;
}

.navbar li a:hover,
.navbar li a:active {
    border-bottom: 3px solid #00ef14;
    transition-duration: 1s;
}


td{
    margin-left: 10px;
}
footer {
    margin-bottom: 0;
    padding-bottom: 0;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    background: url(https://i.imgur.com/FUgLFNt.png);

    background-size: cover;
    background-repeat: no-repeat;
}
.footer p {
    color: rgb(112, 112, 112);
    margin-bottom: 0px;
    padding-bottom: 0;
    text-align: center;
}






.titreacc{
    z-index: 50;
    height: 100vh;
}






.introindicator{
    left: 50%;
    position: absolute;
    bottom: 0.5rem;
}





.bi-arrow-down {
    padding-top: 50px;
    color: #00ef14;
}

.thirdbg{
    background-color: #1b1b1b;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.secondbg {
    background-color: #161616;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.scroll {
    font-size: 150%;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.671);
    z-index: 5;
}

.scrollanim {
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}
/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 10px);
        opacity: 0;
    }
}
@-moz-keyframes ca3_fade_move_down {
    0% {
        -moz-transform: translate(0, -10px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 10px);
        opacity: 0;
    }
}
@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0, -10px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 10px);
        opacity: 0;
    }
}


.centerbottom {
    font-size: 150%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 3;
}
.scrollbox {
    width: 50px;
    height: 50px;
    z-index: 1;
    background-color: #222222;
    transform: rotate(45deg);
}

.scrollanim {
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}

.btn-rnd {
    border: 1.5px solid #00ef1486;
    border-radius: 200px;
    text-decoration: none;
    display: none;
    padding: 5px 3px;
    transition: 0.3s;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    bottom: 5%;
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #182b164d;
}


.btn, button{
    
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome and Opera */
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 200%;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    
    color: rgb(88, 88, 88);
}
  
.next {
    right: 3%;
}
.prev{
    left: 3%;
}
.next:hover,
.next:active,
.prev:active,
.prev:hover{
   color:  #00ef14;
}


.noborderbtn:active,
.noborderbtn:hover{
   border-bottom: 0px solid ;
   text-decoration: none;
}


.rightcenter{
    width: 50%;
    margin-left: 50%;
    align-content: center;
}


ul{
    margin: 0;
}
button{
    cursor: pointer;
}

.left{
    text-align: justify;
}

.illustrations{
    border-radius: 10px;
}

.pluspetit{
    max-width: 300px;
}

hr{
    border:1px solid rgb(114, 114, 114);
    border-radius: 5px;
    max-width: 50%;
}


.padding20{
    padding-left: 10%;
    padding-right: 10%;
}



.cclonsiution{
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}